/* navigation section */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 4px;
    padding-bottom: 4px;
}
/* home section */
#home{
    height: 480px;
    padding: 11px 28px;
}
#home::before{
    height: 480px;
}
#home p{
    font-size: 12px;
}
/* services section */
#services{
    flex-direction: column;
}
#services .box img {
    height: 142px;
}
/* client section */
#clients{
   flex-wrap: wrap;
}
#clients img{
    width: 66px;
    height: auto;
 }
/* contact us section */
#contact-box form{
    width: 60%;
}
/* footer */
/* utility classes */
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}